{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body mb-2 mr-3 ml-3">
                    <h6 class="text-muted pb-4">Register with <span class="right">Are you a member? <a href="{%url 'login'%}" class="link-color font-weight-bold">Login now.</a> </span> </h6>
                    <form action="" method="post">
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-color text-white btn-lg login">CREATE YOUR ACCOUNT</button>
                    </form>
                </div>
                <!-- <small class="text-muted text-center mb-2"> Have an account? <a href="{%url 'login'%}">Log in</a></small>   -->
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}